@model CategoryEditModel
<div id="basic" class="col-lg-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Edit Category</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">

            <div class="row">
                <div class="col-lg-6 col-12 mx-auto">
                    <form action="@Url.Action("Edit","Category")" method="post">
                        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.ValidationMessageFor(c => c.Name)
                            <label for="t-text" class="sr-only">Name</label>
                            <input value="@Model?.Name" id="t-text" type="text" name="Name" placeholder="Category name..." class="form-control" required>
                            <input type="submit" name="txt" class="mt-4 btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>